@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;

    --primary: #000e35;
    --secondary: #542556;
    --ternary: #b62f5e;
    --quaternary: #B6B8ED;
    --hot: #f8312f;
    --light: #FCAF58;
    --bright: #F9F871;
    --border-primary: #ffb02e;
    --text: #ddd;
    --intial-gradient: linear-gradient(var(--primary), var(--quaternary));
    --answered-gradient: linear-gradient(var(--hot), var(--bright));

    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

h1 {
    color: var(--quaternary);
    font-size: 2rem;
    margin: 0.25em auto 0;
    text-shadow: 5px 5px 5px var(--primary);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em;
    max-width: 500px;
    min-width: 315px;
    height: 100vh;
    min-height: 500px;
    margin: auto;
    background: var(--intial-gradient);
    border: 15px solid var(--ternary);
    border-radius: 25px;
    transition: 2s;
}

.container-answer {
    background: var(--answered-gradient);    
}

#icon {
    font-size: 4rem;
}

.get-idea-btn {
    height: 100px;
    width: 100px;
    margin-bottom: 2em;
    border-radius: 50px;
    background: radial-gradient(var(--bright), var(--hot));
    border: 5px solid var(--light);
    cursor: pointer;
    transition: 0.1s;
    box-shadow: 5px 5px 5px #000e35;
}

.get-idea-btn:hover {
    background: radial-gradient(var(--bright), var(--hot));
    border: 5px solid var(--light);
    box-shadow: 7px 7px 5px #000e35;
}
.get-idea-btn:active {
    background: radial-gradient(var(--hot)10%, var(--light)70%);
    border: var(--hot);
    box-shadow: 4px 4px 5px #000e35;
}

.inactive {
    opacity: 0;
}
.title {
    color: var(--quaternary);
}

#idea {
    max-width: 70%;
    color: var(--text);
    line-height: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}
